.logo {
    width: 500px;
    min-height: 500px;
    border-radius: 50%;
    background: #ff2b2b;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    width: 100%;
    min-height: 100%;
    background: #1e1e1e;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
}